<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Kunde inte hittas</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Tyvärr, det finns inget här.</p>
        </LayoutView>
    </NotFound>
</Router>